<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Microservice Challenge | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <h1>Timestamp Microservice</h1>
     <h3>Example Usage:</h3>
     <code>https://stream-morning.glitch.me/whoami</code>
     <h3>Example Output:</h3>
     <code>{"ipaddress":"127.0.0.1","language":"en-us","software":"Macintosh; Intel Mac OS X 10_12_5"}</code>
   </body>

</html>
